body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fffaf4;
    color: #4e342e;
  }

  header {
    background-color: #3e2723;
    padding: 1rem 2rem;
    color: white;
    text-align: center;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }


  .container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3e2723;
  }

  p {
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: justify;
  }

  .highlight {
    color: #3e2723;
    font-weight: 600;
  }

  footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #f3e5f5;
    font-size: 0.9em;
  }